/**
* Lightbox
*/
dialog::backdrop {
    background: rgb(105, 61, 2);
    animation: fond 2s forwards;
}

#lightbox {
    border-radius: 10px;
    padding: 30px;
    animation: open 1s forwards;
}

@keyframes fond {
    from {
        opacity: 0%;
    }

    to {
        opacity: 60%;
    }
}

@keyframes open {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

